*{
  padding: 0;
  margin: 0;
}
body{
  background-color: #0c0c0c;
}
.header__margin{
  margin-top: 25vh;
  text-align: -webkit-center;
}
.mainBody__padding{
  width: 100%;
  max-width: 1280px;
  height: 45vh;
  position: relative;
}
.slide__section{
  display: grid;
  height: 45vh;
  grid-template-columns: 15% 30% 15%;
  grid-column-gap: 20%;
}
.slide__acticle__left{
  transform: perspective(610px) rotateY(-44deg);
  background-size: cover;
  cursor: pointer;
}
.slide__acticle__center{
  transform: scale(1.5);
  background-size: cover;
  cursor: pointer;
}
.slide__acticle__right{
  transform: perspective(610px) rotateY(44deg);
  background-size: cover;
  cursor: pointer;
}
.slide__back{
  position: absolute;
  width: 100%;
  margin-top: 7vh;
}
.slide__back__display{
  display: flex;
  justify-content: space-between;
}
.slide__back__left{
  width: 10vh;
  height: 30vh;
  transform: perspective(760px) rotateY(44deg);
  background-image: url(./img/2.jpg);
}
.slide__back__right{
  width: 10vh;
  height: 30vh;
  transform: perspective(760px) rotateY(-44deg);
  background-image: url(./img/2.jpg);
}
.slide__back__right__center{
  width: 8vh;
  height: 22vh;
  transform: perspective(400px) rotateY(-33deg);
  margin-right: 13vh;
  margin-top: 4vh;
  background-image: url(./img/2.jpg);

}
.slide__back__left__center{
  width: 8vh;
  height: 22vh;
  transform: perspective(400px) rotateY(33deg);
  margin-left: 13vh;
  margin-top: 4vh;
  background-image: url(./img/2.jpg);

}
.slide__back__section{
  display: flex;
}